*{
    box-sizing: border-box;
    margin:0%;
    padding:0%;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align:center;
    margin:50px;
    font-size: large 75%;
}
@media (min-width:992px){
    
.row{
    margin:50px;
    
}
.col-1{
    background-color: #817e7e;
    border:2px solid black;
    margin-bottom:10px;
    padding:0px 0px 10px 10px;
    float:left;
    width:31.7%;
    margin-right:20px;
}
.col-2{
    background-color: #817e7e;
    border:2px solid black;
    margin-bottom:10px;
    padding:0px 0px 10px 10px;
    float:left;
    width:31.7%;
    margin-right:20px;
}
.col-3{
    background-color: #817e7e;
    border:2px solid black;
    margin-bottom:10px;
    padding:0px 0px 10px 10px;
    float:left;
    width:31.7%;
    
}
.item-1{
    background-color: pink;
    border:2px solid black;
    border-right:1px;
    border-top:1px;
    width:150px;
    height:30px;
    text-align: center;
    position:sticky;
    left:302px;
}
.item-2{
    background-color: red;
    border:2px solid black;
    border-right:1px;
    border-top:1px;
    color:white;
    width:150px;
    height:30px;
    text-align: center;
    float:right;
}
.item-3{
    background-color: lemonchiffon;
    border:2px solid black;
    border-right:1px;
    border-top:1px;
    width:150px;
    height:30px;
    text-align: center;
    float:right;
}
p{
    clear:right;
    padding-top:10px;
    padding-right:10px;
}
}
@media (min-width:768px) and (max-width:991px){
    .row{
        margin:30px;
    }
    .col-1{
        background-color: #817e7e;
        border:2px solid black;
        margin-bottom:30px;
        padding:0px 0px 10px 10px;
        float:left;
        width:46.25%;
    }
    .col-2{
        background-color: #817e7e;
        border:2px solid black;
        margin-bottom:30px;
        padding:0px 0px 10px 10px;
        float: right;
        margin-left:24px;
        width:46.25%;
    }
    .col-3{
        background-color: #817e7e;
        border:2px solid black;
        margin-bottom:30px;
        padding:0px 0px 10px 10px;
        float:left;
    }
    .item-1{
        background-color: pink;
        border:2px solid black;
        border-right:1px;
        border-top:1px;
        width:150px;
        height:30px;
        float:right;
        text-align: center;
    }
    .item-2{
        background-color: red;
        border:2px solid black;
        border-right:1px;
        border-top:1px;
        color:white;
        width:150px;
        height:30px;
        float:right;
        text-align: center;
    }
    .item-3{
        background-color: lemonchiffon;
        border:2px solid black;
        border-right:1px;
        border-top:1px;
        width:150px;
        height:30px;
        float:right;
        text-align: center;
    }
    p{
        clear:right;
        padding-top:10px;
        padding-right:10px;
    }
    }

    @media (max-width:767px){
        .row{
            margin:35px;
        }
        .col-1{
            background-color: #817e7e;
            border:2px solid black;
            margin-bottom:30px;
            padding:0px 0px 10px 10px;
            float:left;
            
        }
        .col-2{
            background-color: #817e7e;
            border:2px solid black;
            margin-bottom:30px;
            padding:0px 0px 10px 10px;
            float:left;
            
        }
        .col-3{
            background-color: #817e7e;
            border:2px solid black;
            margin-bottom:30px;
            padding:0px 0px 10px 10px;
            float:left;
            
            
        }
        .item-1{
            background-color: pink;
            border:2px solid black;
            border-right:1px;
            border-top:1px;
            width:150px;
            height:30px;
            float:right;
            text-align: center;
        }
        .item-2{
            background-color: red;
            border:2px solid black;
            border-right:1px;
            border-top:1px;
            color:white;
            width:150px;
            height:30px;
            float:right;
            text-align: center;
        }
        .item-3{
            background-color: lemonchiffon;
            border:2px solid black;
            border-right:1px;
            border-top:1px;
            width:150px;
            height:30px;
            float:right;
            text-align: center;
        }
        p{
            clear:right;
            padding-top:10px;
            padding-right:10px;
        }
        }